.Countdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  text-shadow: 1px 1px 7px;
  border-radius: 15px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p {
  font-size: 2.6rem;
}
.clock section small {
  color: silver;
  text-shadow: none;
}
.Countdown-logo {
  height: 40vmin;
  pointer-events: none;
}

.Countdown-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Countdown-link {
  color: #61dafb;
}
