.organizers-container:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 230px;
  height: 230px;
  left: 10px;
  top: 0px;
  background-image: linear-gradient(
    111.7deg,
    rgb(165, 41, 185) 19.9%,
    rgb(80, 177, 225) 95%
  );
  filter: blur(17px);
}

.gradient {
  color: white;
  text-align: center;
}

.gradient:hover {
  opacity: 1;
}
