@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Fira Sans";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  src: url("./assets/fonts/Raleway-Medium.ttf");
} */
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}
#event-card {
  position: relative;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  height: 24rem;
  min-height: 24rem;
  max-height: 24rem;
}
.wide-text {
  letter-spacing: 0.35em;
  text-indent: 0.35em;
}

.box {
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  background: rgb(96 165 250);
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

#ellipse {
  animation: elli 2s infinite linear;
  transform-origin: 82px 81px;
  transform-box: fill-box;
}
@keyframes elli {
  from {
    transform: rotate(0deg) scale(1.08);
  }
  to {
    transform: rotate(360deg) scale(1.08);
  }
}

#technical-slider {
  overflow-x: scroll;
}
#non-technical-slider {
  overflow-x: scroll;
}

@media only screen and (min-width: 992px) {
  #technical-slider {
    overflow-x: hidden;
  }
  #non-technical-slider {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 600px) {
  #app {
    min-height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  #app {
    min-height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #app {
    min-height: 100%;
  }
}
