@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Fira Sans";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  src: url("./assets/fonts/Raleway-Medium.ttf");
} */

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

.wide-text {
  letter-spacing: 0.35em;
  text-indent: 0.35em;
}

.box {
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  background: rgb(96 165 250);
}
.box-organizers {
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  background: rgb(251 146 60);
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

#ellipse {
  animation: elli 2s infinite linear;
  transform-origin: 82px 81px;
  transform-box: fill-box;
}
@keyframes elli {
  from {
    transform: rotate(0deg) scale(1.08);
  }
  to {
    transform: rotate(360deg) scale(1.08);
  }
}

#technical-slider {
  overflow-x: scroll;
}
#non-technical-slider {
  overflow-x: scroll;
}
.left-arrow {
  display: none;
}
.right-arrow {
  display: none;
}
@media only screen and (min-width: 600px) {
  .left-arrow {
    display: block;
  }
  .right-arrow {
    display: block;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@media only screen and (min-width: 992px) {
  #technical-slider {
    overflow-x: scroll;
  }
  #non-technical-slider {
    overflow-x: scroll;
  }
}

.stretch-to-screen {
  min-height: 100dvh;
}

.card-both {
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.flip-card {
  transform: rotateY(180deg) scale(1.02);
}

.front-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}
.back-card {
  position: absolute;
  transform: rotateY(180deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}
